{%load static %}
<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>SPARK4AI</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link href="{% static 'assets/img/favicon.png'%}" rel="icon">
	<link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">

	<!-- 	
	<link href="{% static 'assets/common-css/ionicons.css'%}" rel="stylesheet">
	
	
	<link rel="stylesheet" href="{% static 'assets/common-css/jquery.classycountdown.css'%}" /> -->

	<link href="{% static 'assets/03-comming-soon/css/styles.css'%}" rel="stylesheet">

	<link href="{% static 'assets/03-comming-soon/css/responsive.css'%}" rel="stylesheet">

</head>

<body>

	<div class="main-area center-text">

		<div class="display-table">
			<div class="display-table-cell">

				<h1 class="title font-white"><b>Coming Soon</b></h1>
				<p class="desc font-white">Prepare for collaborative community projects aimed at enhancing your
					Artificial Intelligence skills and securing industry-recognized certifications through partnerships
					with leading organizations.</p>

				<a class="notify-btn" href="https://forms.gle/jiAkvBowgRGA8TkE7 "><b>SHOW YOUR INTEREST</b></a>

				<ul class="social-btn font-white">
					<li><a href="https://www.facebook.com/profile.php?id=61552039076712&mibextid=ZbWKwL">facebook</a></li>
					<!-- <li><a href="#">twitter</a></li> -->
					<li><a href="https://www.linkedin.com/company/spark4ai/">linkedin</a></li>
					<li><a href="https://instagram.com/spark4ai.iitkgp?igshid=NjIwNzIyMDk2Mg==">instagram</a></li> 
				</ul><!-- social-btn -->

			</div><!-- display-table -->
		</div><!-- display-table-cell -->
	</div><!-- main-area -->

</body>

</html>